<h1>投稿一覧</h1>
<% @lists.each do |list| %> <!--todolistsのindexメソッドから取得した配列（@lists）をlistに代入-->
  <p>タイトル</p>
  <span><%= link_to list.title, todolist_path(list.id) %></span>　<!--listのtitle(投稿のタイトル)を表示-->
  <p>画像</p>
  <%= attachment_image_tag list, :image, format: "jpeg", size: "100x100" %>
<% end %>